[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
[submodule "content/posts"]
	path = content/posts
	url = https://github.com/heyux1n/unnow-blog-posts.git
